async-lru
autopep8
pyaes
pyasn1
pycodestyle
pyrogram==1.4.16
PySocks
rsa
TgCrypto
requests
requests-futures
loguru
schedule
arrow
python-dotenv
emoji
argparse
python-arq
youtube-search-python==1.4.6
yt-dlp
python-dotenv
gTTS
googletrans==4.0.0rc1
pymongo
pytz
py-tgcalls
r7insight-python
urlextract
uuid
redis
dnspython
Pillow
aiofiles
wget
aiohttp
asyncio
pytgcalls==3.0.0.dev21
pytube
cachetools
async-cache
